<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pgk.delivery.Login.Mapper.LoginMapper">
    <update id="banAccount" parameterType="com.pgk.delivery.Login.Pojo.Account">
        UPDATE account
        SET accountBan = #{accountBan}
        WHERE
        accountId = #{accountId}
    </update>
    <update id="updatePassword" parameterType="com.pgk.delivery.Login.Pojo.Account">
UPDATE account
SET accountPassword =#{accountPassword}
WHERE
	accountName =#{accountName}
    </update>
    <delete id="accountDelete">
        delete from account where accountId = #{accountId}
    </delete>
    <select id="login" parameterType="com.pgk.delivery.Login.Pojo.Account" resultType="com.pgk.delivery.Login.Pojo.Account">
        SELECT
        accountName,
        accountPassword,
        accountLimit,
        accountBan,
        accountUserId
        FROM
        account
        WHERE
        accountName = #{accountName} and accountPassword = #{accountPassword}
    </select>
    <select id="queryById" resultType="com.pgk.delivery.Login.Pojo.Account">
        select * from account where accountName= #{accountName}
    </select>
    <select id="queryByName" resultType="com.pgk.delivery.Login.Pojo.Account">
        select accountName from account where accountName = #{accountName}
    </select>
    <select id="queryAll" resultType="com.pgk.delivery.Login.Pojo.Account">
        SELECT
        accountName,
        accountLimit,
        accountBan,
        accountId
        FROM
        account
    </select>
    <insert id="register" parameterType="com.pgk.delivery.Login.Pojo.Account">
        INSERT INTO account (
        accountId,
        accountName,
        accountPassword,
        accountLimit,
        accountBan,
        accountUserId
        )
        VALUES
        (
        NULL,
        #{accountName},#{accountPassword},#{accountLimit},#{accountBan},#{accountUserId})
    </insert>
    <insert id="addInformation" parameterType="com.pgk.delivery.Login.Pojo.Account">
        insert into ${table} (${tableId},${tableAccountName}) values (null,#{accountName})
    </insert>
    <select id="selectUserId" parameterType="com.pgk.delivery.Login.Pojo.Account"  resultType="java.lang.Integer">
        select ${tableId} from ${table} where ${tableAccountName} = #{accountName}
    </select>
    <select id="selectAddress" resultType="com.pgk.delivery.Login.Pojo.Account" parameterType="java.lang.Integer">
        select buyerName from buyer where buyerId = #{accountUserId}
    </select>
</mapper>