<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pgk.delivery.Order.Mapper.OrderMapper">

	<resultMap id="shopping" type="com.pgk.delivery.Order.Pojo.Shopping">
		<id column="shoppingOrderId" property="shoppingOrderId"></id>
		<result column="shoppingNumber" property="shoppingNumber"></result>
		<result column="shoppingCommodityId" property="commodityId"></result>
	</resultMap>
	<resultMap id="order" type="com.pgk.delivery.Order.Pojo.Order">
		<id column="orderId" property="orderId"></id>
		<result column="orderBuyerAccount" property="orderBuyerAccount"></result>
		<result column="orderRiderAccount" property="orderRiderAccount"></result>
		<result column="orderState" property="orderState"></result>
		<result column="orderBuyerTime" property="orderBuyerTime"></result>
		<result column="orderSellerTime" property="orderSellerTime"></result>
		<result column="orderRiderTime" property="orderRiderTime"></result>
		<result column="orderRiderTime1" property="orderRiderTime1"></result>
		<result column="orderBuyerTime1" property="orderBuyerTime1"></result>
		<result column="orderTips" property="orderTips"></result>
		<result column="tableware" property="tableware"></result>
		<result column="shopName" property="shopName"></result>
		<result column="shopAddress" property="shopAddress"></result>
	 <collection property="buyerAddress" ofType="com.pgk.delivery.Order.Pojo.BuyerAddress">
		 <id column="orderId" property="orderId"></id>
		 <result column="buyerName" property="buyerName"></result>
		 <result column="buyerTel" property="buyerTel"></result>
		 <result column="buyerAddress" property="buyerAddress"></result>
	 </collection>
		<collection property="shopping" ofType="com.pgk.delivery.Order.Pojo.Shopping">
			<id column="commodityName" property="commodityName"></id>
			<result column="shoppingNumber" property="commodityNumber"></result>
			<result column="commodityImg" property="commodityImg"></result>
			<result column="commodityPrice" property="commodityPrice"></result>
		</collection>
	</resultMap>
    <insert id="addOrder" useGeneratedKeys="true" keyProperty="orderId" keyColumn="orderId" parameterType="com.pgk.delivery.Order.Pojo.Order">
INSERT INTO `order` (
	shopId,
	orderBuyerAccount,
	orderRiderAccount,
	orderState,
	orderBuyerTime,
	orderSellerTime,
	orderRiderTime,
	orderRiderTime1,
	orderBuyerTime1,
	orderTips,
	tableware
)
VALUES
	(#{shopId}, #{orderBuyerAccount}, #{orderRiderAccount},#{orderState},
	#{orderBuyerTime},#{orderSellerTime},#{orderRiderTime},#{orderRiderTime1},#{orderBuyerTime1},#{orderTips},#{tableware})
    </insert>
	<insert id="addShopping" parameterType="com.pgk.delivery.Order.Pojo.Shopping">
		INSERT INTO shopping (
	shoppingCommodityId,
	shoppingNumber,
	shoppingOrderId
)
VALUES
	(#{commodityId},#{shoppingNumber},#{shoppingOrderId})
	</insert>
	<insert id="addBuyerAddress">
		insert into buyerAddress (buyerName,
buyerAddress,
buyerTel,
orderId
)
values (#{buyerName},#{buyerAddress},#{buyerTel},#{orderId})
	</insert>
	<update id="deleteCommodityNumber" parameterType="com.pgk.delivery.Order.Pojo.Shopping">
	update commodity set commodityNumber=#{commodityNumber} where commodityId = #{commodityId}
	</update>
	<delete id="deleteOrder">
		  delete from `order` where orderId = #{orderId}
	</delete>
	<delete id="delectShopping">
        delete from shopping where shoppingOrderId = #{orderId}
    </delete>
	<select id="selectOrder" resultType="com.pgk.delivery.Order.Pojo.Order">
	SELECT
	orderId,
	shopId,
	orderBuyerAccount,
	orderRiderAccount,
	orderState,
    orderBuyerTime,
	orderSellerTime,
	orderRiderTime,
	orderRiderTime1,
    orderBuyerTime1
FROM
	`order`
<if test="orderBuyerAccount != null">
	where orderBuyerAccount = #{orderBuyerAccount}
</if>
<if test="shopId != 0">
	where shopId = #{shopId}
</if>
<if test="stateOpen">
	AND orderState = #{orderState}
</if>
	</select>
	<select id="selectShopping" parameterType="java.lang.Integer" resultMap="shopping">
SELECT
	shoppingCommodityId,
	shoppingNumber,
	shoppingOrderId,
	commodity.commodityName,
	commodity.commodityImg,
	commodity.commodityPrice
FROM
	shopping JOIN commodity ON shopping.shoppingCommodityId = commodity.commodityId
WHERE
	shoppingOrderId = #{shoppingOrderId}
	</select>
	<select id="queryOrder" resultMap="order">
SELECT
	`order`.orderId,
	`order`.orderBuyerAccount,
	`order`.orderRiderAccount,
	`order`.orderState,
	`order`.orderBuyerTime,
	`order`.orderSellerTime,
	`order`.orderRiderTime,
	`order`.orderRiderTime1,
	`order`.orderBuyerTime1,
	`order`.orderTips,
	`order`.tableware,
	shopping.shoppingNumber,
	commodity.commodityName,
	commodity.commodityImg,
	commodity.commodityPrice,
	buyeraddress.buyerName,
	buyeraddress.buyerTel,
	buyeraddress.buyerAddress,
	shop.shopName,
	shop.shopAddress
FROM
	`order`
JOIN shopping ON `order`.orderId = shopping.shoppingOrderId
JOIN commodity ON shopping.shoppingCommodityId = commodity.commodityId
JOIN buyeraddress ON `order`.orderId = buyeraddress.orderId
JOIN shop ON `order`.shopId = shop.shopId
 <if test="orderId != 0 ">
	 WHERE
	 `order`.orderId = #{orderId}
 </if>
<if test=" null != orderRiderAccount ">
	WHERE
	`order`.orderState = '0'
</if>

	</select>
	<update id="updateState" parameterType="com.pgk.delivery.Order.Pojo.Order">
	update `order` set orderState=#{orderState},orderBuyerTime1=#{orderBuyerTime1} where orderId = #{orderId}
	</update>
</mapper>