<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pgk.delivery.Order.Mapper.OrderMapper">

	<resultMap id="shopping" type="com.pgk.delivery.Order.Pojo.Shopping">
		<id column="shoppingOrderId" property="shoppingOrderId"/>
		<result column="shoppingNumber" property="shoppingNumber"/>
		<result column="shoppingCommodityId" property="commodityId"/>
	</resultMap>
	<resultMap id="order" type="com.pgk.delivery.Order.Pojo.Order">
		<id column="orderId" property="orderId"/>
		<result column="orderBuyerAccount" property="orderBuyerAccount"/>
		<result column="orderRiderAccount" property="orderRiderAccount"/>
		<result column="orderState" property="orderState"/>
		<result column="orderBuyerTime" property="orderBuyerTime"/>
		<result column="orderSellerTime" property="orderSellerTime"/>
		<result column="orderRiderTime" property="orderRiderTime"/>
		<result column="orderRiderTime1" property="orderRiderTime1"/>
		<result column="orderBuyerTime1" property="orderBuyerTime1"/>
		<result column="orderTips" property="orderTips"/>
		<result column="tableware" property="tableware"/>
		<result column="shopName" property="shopName"/>
		<result column="shopAddress" property="shopAddress"/>
		<result column="shopSendPrice" property="shopSendPrice"/>
		<result column="riderName" property="riderName"/>
		<result column="riderTel" property="riderTel"/>
	 <collection property="buyerAddress" ofType="com.pgk.delivery.Order.Pojo.BuyerAddress">
		 <id column="orderId" property="orderId"/>
		 <result column="buyerName" property="buyerName"/>
		 <result column="buyerTel" property="buyerTel"/>
		 <result column="buyerAddress" property="buyerAddress"/>
	 </collection>
		<collection property="shopping" ofType="com.pgk.delivery.Order.Pojo.Shopping">
			<id column="commodityName" property="commodityName"/>
			<result column="shoppingNumber" property="commodityNumber"/>
			<result column="commodityImg" property="commodityImg"/>
			<result column="commodityPrice" property="commodityPrice"/>
		</collection>
	</resultMap>
    <insert id="addOrder" useGeneratedKeys="true" keyProperty="orderId" keyColumn="orderId" parameterType="com.pgk.delivery.Order.Pojo.Order">
INSERT INTO `order` (
	shopId,
	orderBuyerAccount,
	orderRiderAccount,
	orderState,
	orderBuyerTime,
	orderSellerTime,
	orderRiderTime,
	orderRiderTime1,
	orderBuyerTime1,
	orderTips,
	tableware
)
VALUES
	(#{shopId}, #{orderBuyerAccount}, #{orderRiderAccount},#{orderState},
	#{orderBuyerTime},#{orderSellerTime},#{orderRiderTime},#{orderRiderTime1},#{orderBuyerTime1},#{orderTips},#{tableware})
    </insert>
	<insert id="addShopping" parameterType="com.pgk.delivery.Order.Pojo.Shopping">
		INSERT INTO shopping (
	shoppingCommodityId,
	shoppingNumber,
	shoppingOrderId
)
VALUES
	(#{commodityId},#{shoppingNumber},#{shoppingOrderId})
	</insert>
	<insert id="addBuyerAddress">
		insert into buyerAddress (buyerName,
buyerAddress,
buyerTel,
orderId
)
values (#{buyerName},#{buyerAddress},#{buyerTel},#{orderId})
	</insert>
	<update id="addOrderRiderAccount">
		update `order` set orderRiderAccount = #{orderRiderAccount} where orderId = #{orderId}
	</update>
	<update id="deleteCommodityNumber" parameterType="com.pgk.delivery.Order.Pojo.Shopping">
	update commodity set commodityNumber=#{commodityNumber} where commodityId = #{commodityId}
	</update>
	<delete id="deleteOrder">
		  delete from `order` where orderId = #{orderId}
	</delete>
	<delete id="delectShopping">
        delete from shopping where shoppingOrderId = #{orderId}
    </delete>
	<select id="selectOrder" resultType="com.pgk.delivery.Order.Pojo.Order">
	SELECT
	orderId,
	shopId,
	orderBuyerAccount,
	orderRiderAccount,
	orderState,
    orderBuyerTime,
	orderSellerTime,
	orderRiderTime,
	orderRiderTime1,
    orderBuyerTime1
FROM
	`order`
<if test="orderBuyerAccount != null">
	where orderBuyerAccount = #{orderBuyerAccount}
</if>
<if test="shopId != 0">
	where shopId = #{shopId}
</if>
<if test="stateOpen">
	AND orderState = #{orderState}
</if>
	</select>
	<select id="selectShopping" parameterType="java.lang.Integer" resultMap="shopping">
SELECT
	shoppingCommodityId,
	shoppingNumber,
	shoppingOrderId,
	commodity.commodityName,
	commodity.commodityImg,
	commodity.commodityPrice
FROM
	shopping JOIN commodity ON shopping.shoppingCommodityId = commodity.commodityId
WHERE
	shoppingOrderId = #{shoppingOrderId}
	</select>
	<select id="queryOrder" resultMap="order">
SELECT
	`order`.orderId,
	`order`.orderBuyerAccount,
	`order`.orderRiderAccount,
	`order`.orderState,
	`order`.orderBuyerTime,
	`order`.orderSellerTime,
	`order`.orderRiderTime,
	`order`.orderRiderTime1,
	`order`.orderBuyerTime1,
	`order`.orderTips,
	`order`.tableware,
	shopping.shoppingNumber,
	commodity.commodityName,
	commodity.commodityImg,
	commodity.commodityPrice,
	buyeraddress.buyerName,
	buyeraddress.buyerTel,
	buyeraddress.buyerAddress,
	shop.shopName,
	shop.shopAddress,
	shop.shopSendPrice,
	rider.riderName,
	rider.riderTel
FROM
	`order`
JOIN shopping ON `order`.orderId = shopping.shoppingOrderId
JOIN commodity ON shopping.shoppingCommodityId = commodity.commodityId
JOIN buyeraddress ON `order`.orderId = buyeraddress.orderId
JOIN shop ON `order`.shopId = shop.shopId
left join rider on `order`.orderRiderAccount = rider.riderAccountName
 <if test="orderId != 0 ">
 WHERE
	 `order`.orderId = #{orderId}
 </if>
--  查询商家未接单订单
<if test=" 0 != shopId and orderState == 0 ">
WHERE
	shop.shopId = #{shopId}  and  `order`.orderState = '0'
</if>
-- 查询商家退款订单
<if test=" 0 != shopId and orderState == -2 ">
WHERE
	shop.shopId = #{shopId}  and  `order`.orderState = '-2'
</if>
-- 查询店家所有订单
<if test="orderState == -3 and shopId != 0">
WHERE
	shop.shopId = #{shopId}
</if>
-- 骑手抢单的所有订单
<if test=" null != orderRiderAccount and orderState != 3 ">
	WHERE
	`order`.orderState = #{orderState}
</if>
-- 骑手已接订单
<if test=" null != orderRiderAccount and orderState == 3">
      WHERE
`order`.orderState IN ('3','4','5')
</if>
	</select>
	<update id="updateState" parameterType="com.pgk.delivery.Order.Pojo.Order">
	update `order` set orderState=#{orderState}
	<if test="null != orderBuyerTime1">,orderBuyerTime1=#{orderBuyerTime1}</if>
	<if test="null != orderSellerTime">,orderSellerTime=#{orderSellerTime}</if>
	<if test="null != orderRiderTime">,orderRiderTime=#{orderRiderTime}</if>
	<if test="null != orderRiderTime1">,orderRiderTime1=#{orderRiderTime1}</if>
	where orderId = #{orderId}
	</update>
</mapper>