<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pgk.delivery.Seller.Mapper.SellerMapper">
    <update id="updateSellerAddress">
  UPDATE seller
SET sellerName = #{sellerName},
sellerSex = #{sellerSex},
sellerAddress = #{sellerAddress},
sellerTel = #{sellerTel}
WHERE
	sellerAccountName = #{sellerAccountName}
    </update>

    <select id="getSellerAddress" resultType="com.pgk.delivery.Seller.Pojo.Seller">
SELECT
	sellerAccountName,
	sellerName,
	sellerSex,
	sellerAddress,
	sellerTel
FROM
	seller
WHERE
	sellerAccountName = #{accountName}
    </select>
</mapper>